<div class="text-center my-4">
  <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
    <div class="apple_pagination">
      <div class="py-4">
        <%= page_entries_info @records %>
      </div>
      <div class="py-4">
        <%= will_paginate @records %>
      </div>
    </div>
  </div>
</div>