<%= link_to :home_root do %>
  <div class="flex logo">
    <%= icon_tag "logo.svg" %>
    <span class="logo-text self-center text-lg font-semibold whitespace-nowrap dark:text-white ml-2">Find That Plug</span>
  </div>
<% end %>